@import "tailwindcss";

:root {
  --background: #000000ef;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .text-primary {
    color: #ffff00;
    transition: opacity 0.3s ease;
  }
  
  .text-secondary {
    color: currentColor;
    opacity: 0.75;
    transition: opacity 0.3s ease;
  }

  .text-tertiary {
    color: currentColor;
    opacity: 0.5;   /* Lighter muted gray */
    transition: opacity 0.3s ease;
  }
  
  .text-accent {
    color: var(--color-cyan-500); /* Use specific tailwind colors for accents */
  }

  :is(.theme-light) .theme-light-text {
    color: #1f2045 !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
